@{
    ViewData["Title"] = "Crear Ticket";
}

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col">
            <div class="mb-5">
                <h2 class="fw-bold m-0 text-dark">Mesa de Ayuda TI</h2>
                <p class="text-muted m-0">Levantar un ticket para una incidencia o soporte técnico.</p>
            </div>

            <div class="card pb-5">
                <form action="">
                    <h5><i class="bi bi-person-badge-fill"></i> Información del solicitante</h5>

                    <div class="container justify-content-center">
                        <div class="row">
                            <div class="form-group">
                                <label for="nomina">No. Nomina</label>
                                <input type="text" placeholder="Ingresa número de nomina" id="nomina">
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="form-group">
                                <label for="title">Titulo</label>
                                <input type="text" placeholder="Pequeña descripción" id="title">
                            </div>
                        </div>
                    </div>

                    <h5><i class="bi bi-exclamation-circle"></i>Detalles del problema</h5>

                    <div class="row">
                        <div class="form-group">
                            <label for="category">Categoria</label>
                            <select name="cat" id="category"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="subcategory">Subcategoria</label>
                            <select name="subcat" id="subcategory"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="failure">Fallo</label>
                            <select name="fail" id="failure"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="descripcion">Descripcion</label>
                            <textarea name="desc" id="descripcion" placeholder="Descripción del problema"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-warning"><i class="bi bi-bucket"></i>Limpiar</button>
                            <button type="button" class="btn btn-success" id="btn-createticket"><i class="bi bi-send"></i>Crear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
@* Importante sino carga antes de que se termine de renderizar *@
@section Scripts {
    <script>
        // Razor generará la ruta correcta aquí y se guardará en una variable de JavaScript
        //const urlGetCategorias = '@Url.Action("getCategorias", "Ticket")';
    </script>
    <script src="~/js/CrearTicket.js"></script>
}