@model IEnumerable<tickets_web.Models.DTOS.TicketCategoriasDTO>

@{
    ViewData["Title"] = "Home Page";
}
<h1>
    Crear ticket
</h1>
<div class="text-center">
    @foreach(var category in Model){

    }
</div>
